.alerts-results {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 20px 30px;
  border-bottom: 1px solid #fff; }
  .alerts-results__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #7BC6A7;
    border-radius: 5px; }
  .alerts-results__name {
    font-size: 18px;
    font-weight: 600; }
  .alerts-results__importance {
    text-transform: uppercase;
    font-weight: 600; }
    .alerts-results__importance span {
      padding-left: 10px; }
