.clients {
  background: #4B545D;
  padding: 30px 30px 50px;
  border-radius: 5px;
  width: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__select {
    color: #67A3E7;
    text-transform: uppercase;
    font-weight: 600;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: 1000px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .icon-circle-right {
    padding-left: 10px;
  }
  .icon-cog {
    font-size: 20px;
    color: #B6C3C0;
  }
}

.alerts {
  margin-top: 40px;
  background: #5BB892;
  border-radius: 5px;
  //padding: 30px;
  &__header {
    padding: 30px 30px 5px;
    border-bottom: 1px solid #fff;
  }
  &__title {
    text-transform: uppercase;
    padding-right: 20px;
    font-weight: 600;
  }
  &__menu {
    display: flex;
    color: #fff;
  }
  &__options {
    margin-left: auto;
    span {
      padding: 0 10px;
      font-size: 12px;
      cursor: pointer;
    }
  }
  &__save {
    text-transform: uppercase;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #fff;
    cursor: pointer;
  }
  &__order {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
  }
  &__important {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
  }
  &__footer {
    padding: 0 30px 20px;
  }
  &__more {
    text-align: center;
  }
  &__seemore, &__viewall {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__seemore {
    padding: 10px 15px;
    background: #7BC6A7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &__dropdown {
    display: inline-block;
    transform: rotate(90deg);
  }
}
