.increase {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 60px;
  @media only screen and (min-width: 1000px) {
    width: 30%;
    padding-top: 0;
  }
  &__body {
    color: #67A3E7;
    font-size: 30px;
  }
  &__footer {
    color: #B6C3C0;
    font-size: 18px;
  }
  .icon-circle-up {
    color:  #67A3E7;
    font-size: 18px;
  }
}
